.container-circle {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.container-circle .image-circle {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.container-circle .image-circle:hover {
  opacity: 0.8;
}

.container-circle h4 {
  padding: 20px;
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
  color: var(--color-main);
}
.container-circle p {
  font-weight:600;
  font-size: 20px;
  text-transform: uppercase;
}
