.container-image{ 
  width:auto;
  height: 100%;
}
.div-first{ 
  display: flex;
  width: auto;
  height: auto;
  justify-content: space-between;
  padding: 10px;
  gap: 20px;
}

.div-image-first{ 
  width: 600px;
  height: 800px;
}
.div-image-second{ 
  width: 1000px;
  height: 800px;
}

.div-img-thirst{ 
  width: auto;
  height: 800px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.div-img-four { 
  width: 100%;
  height: 800px;
}

.div-image-first img , .div-image-second img, .div-img-thirst img, .div-img-four img { 
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px ;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-auto-rows: 400px;
  grid-auto-flow: dense;
  padding: 40px;
}
.grid-container .wide {
  grid-row: span 1;
}
.grid-container .big {
  grid-row: span 1;
}

.grid-container .big-column {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container > div > .grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.grid-image {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}
