.container-content {
  align-items: center;
}

.header-service {
  font-size: 30px;
  font-weight: 400;
  font-family: var(--font-header);
  letter-spacing: 1px;
}
.p-service {
  letter-spacing: 1px;
  font-family: var(--font-main);
  line-height: 30px;
}
.footer-service {
  border-bottom: 1px solid var(--color-header);
  width: 40%;
}
