.container-footer {
  width: auto;
  height: auto;
  padding: 30px 100px;
  display: flex;
}
.columns-footer {
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 30px;
  font-family: var(--font-header);
  color: var(--color-header);
}
.description {
  font-size: var(--size-main);
  font-weight: 400;
  color: var(--color-sub);
  font-family: var(--font-main);
}
.contents-footer {
  display: flex;
  width: 100%;
  height: 40px;
  font-family: var(--font-main);
  align-items: center;
  text-align: center;
}

.icon {
  width: auto;
  height: 100%;
  color: var(--color-sub);
  padding: 0px 5px 0px 0px;
  align-items: center;
  display: flex;
}

.link-face{ 
  color: var(--color-main);
  text-decoration: none;
}
.content-footer {
  font-size: 15px;
  color: var(--color-main);
  padding: 0px 5px;
  height: 100%;
  display: flex;
  align-items: center;
  
}
.header-footer,
.header {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: var(--font-main);
}
.header,
.content {
  font-size: 12px;
}

.header:hover {
  color: var(--color-main);
}

.content {
  list-style-type: disc;
  color: var(--color-sub);
  padding-top: 10px;
}

.div-content-about {
  padding: 20px 0px 0px 0px;
}

.grid-div {
  display: grid;
  column-gap: 10px;
  grid-row: 4 4;
  grid-column: 2 2;
}
.grid-div img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
